* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #f9f3f3;
  --grey: #dddddd;
  --litePink: #f7d9d9;
  --pink: #f25287;
}

body {
  background-color: var(--white);
  width: 100vw;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

  background-color: var(--litePink);
  height: 50px;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#dropdownMenu {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dropdownBtn,
.linkBtn {
  background-color: var(--litePink);
  color: var(--pink);
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdownContent {
  display: none;
}

.show {
  display: block;
}
